@model MVCCRUD.Models.Customer
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>InsertCustomer</title>
</head>
<body>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/customer/add-customer.css" rel="stylesheet" />
    @using (Html.BeginForm())
    {

        @Html.ValidationSummary(true)
        <fieldset>
            <div class="add-title">Add Customer</div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <div style="color:Blue;font-family:Arial">
                            @Html.ActionLink("List Customer", "ShowAllCustomerDetails")
                            <br>
                            @Html.ActionLink("New Customer", "InsertCustomer")
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <legend style="font-family:Arial Black;color:Green">Customer</legend>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.Name, new {@class = "col-sm-3"}) @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "col-sm-9"} })
                        </div>
                        <div class="form-group ">                           
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.Address, new { @class = "col-sm-3" }) @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "col-sm-9" } })
                        </div>
                        <div class="form-group">                            
                            @Html.ValidationMessageFor(model => model.Address)
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.Mobileno, new { @class = "col-sm-3" }) @Html.EditorFor(model => model.Mobileno, new { htmlAttributes = new { @class = "col-sm-9" } })
                        </div>
                        <div class="form-group">                           
                            @Html.ValidationMessageFor(model => model.Mobileno)
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.Birthdate, new { @class = "col-sm-3" }) @Html.EditorFor(model => model.Birthdate, new { htmlAttributes = new { @class = "col-sm-9" } })
                        </div>
                        <div class="form-group">                           
                            @Html.ValidationMessageFor(model => model.Birthdate)
                        </div>
                        <div class="editor-label row">
                            @Html.LabelFor(model => model.EmailID, new { @class = "col-sm-3" }) @Html.EditorFor(model => model.EmailID, new { htmlAttributes = new { @class = "col-sm-9" } })
                        </div>
                        <div class="form-group">                           
                            @Html.ValidationMessageFor(model => model.EmailID)
                        </div>
                        <p>
                            <input type="submit" value="Insert" class="btn btn-primary" />
                            <input type="reset" value="Reset" class="btn btn-warning" />
                        </p>

                    </div>
                </div>


            </div>
        </fieldset>
    }
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>  